@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Site.css">
    <title>I.P.O - Info</title>
</head>
<body class="body_menu">
    <div class="pasek">
        <div class="lewo">
            <img src=~/Obrazy/info.png style="cursor: default;" />
            <a style="font-size: 20px;">Poznaj rodzaje ćwiczeń oraz zasady w nich panujące</a>
        </div>
        <div class="prawo">
            <img src=~/Obrazy/logo.png onclick="menu()" title="Powrót do menu"/>
            @*<img src=~/Obrazy/stat.png onclick="statystyki()" />
            <img src=~/Obrazy/opcje.png onclick="ustawienia()" />
            <img src=~/Obrazy/logout.png onclick="wyloguj()" />*@
        </div>
    </div>

    <div class="kontyner_test">
        <table class="tabela_info">
            <tr style="height: 50px;">
                <td class="opis_kategoria">
                    Ikona ćwiczenia
                </td>
                <td class="opis_kategoria">
                    Opis ćwiczenia
                </td>
                <td class="opis_kategoria">
                    Opis trudności
                </td>
            </tr>
            <tr>
                <td class="komorka_obraz">
                    <img src="~/Obrazy/TestOstrosc.png">
                </td>
                <td class="opis_testu">
                    Ćwiczenie składa się z 5 kolejnych pytań, w których wymagane jest zaznaczenie poprawnej odpowiedzi. Wszystkie pytania oraz odpowiedzi generowane są losowo.
                </td>
                <td class="opis_testu">
                    Łatwy: Duża czcionka. <br />
                    Średni: Normalna czcionka. <br />
                    Trudny: Mała czcionka.
                </td>
            </tr>
            <tr>
                <td class="komorka_obraz">
                    <img src="~/Obrazy/testkolory.png">
                </td>
                <td class="opis_kategoria" colspan="2">
                    Ćwiczenia opierające się na kolorach
                </td>
            </tr>
            <tr>
                <td class="komorka_obraz">
                    <img src="~/Obrazy/TestIshary.png">
                </td>
                <td class="opis_testu">
                    Ćwiczenie składa się z 5 wyświetlanych tablic Isihiary. Wymagane jest odczytanie z niej cyrfy lub liczby i wpisanie w polu znajdującym się pod obrazem.
                </td>
                <td class="opis_testu">
                    Łatwy: 1 cyfra do rozpoznania, wysoki kontrast. <br />
                    Średni: 2 cyfry do rozpoznania, średni kontrast. <br />
                    Trudny: 3 cyfry do rozpoznania, niski kontrast.
                </td>
            </tr>
            <tr>
                <td class="komorka_obraz">
                    <img src="~/Obrazy/TestBarwy.png">
                </td>
                <td class="opis_testu">
                    Ćwiczenie składa się z 5 kolejno losowo generowanych tablic z barwami gdzie jedna z nich różni się od reszty swoją intensywnością. Wymagane jest kliknięcie w różniącą się barwę.
                </td>
                <td class="opis_testu">
                    Łatwy: Duża różnica w intensywności. <br />
                    Średni: Średnia różnica w intensywności. <br />
                    Trudny: Mała różnica w intensywności.
                </td>
            </tr>
            <tr>
                <td class="komorka_obraz">
                    <img src="~/Obrazy/testruch.png">
                </td>
                <td class="opis_kategoria" colspan="2">
                    Ćwiczenia opierające się na ruchu oczu
                </td>
            </tr>
            <tr>
                <td class="komorka_obraz">
                    <img src="~/Obrazy/TestReakcja.png">
                </td>
                <td class="opis_testu">
                    Ćwiczenie polega na jak najszybszym kliknięciu w 5 kropek pojawiających się kolejno na ekranie.
                </td>
                <td class="opis_testu">
                    Łatwy: Duże kropki. <br />
                    Średni: Średnie kropki. <br />
                    Trudny: Małe kropki.
                </td>
            </tr>
            <tr>
                <td class="komorka_obraz">
                    <img src="~/Obrazy/TestSzukanie.png">
                </td>
                <td class="opis_testu">
                    Ćwiczenie polega na odnalezieniu wskazanej figury na planszy z rozmaitymi figurami.
                </td>
                <td class="opis_testu">
                    Łatwy: Bardziej różniące się figury, mała ilość figur na planszy. <br />
                    Średni: Różniące się figury, średnia ilość figur na planszy. <br />
                    Trudny: Podobne figury, duża ilość figur na planszy.
                </td>
            </tr>
        </table>
    </div>
</body>
</html>

<script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript" src="~/Scripts/funkcje.js"></script>
