@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Site.css">
    <title>I.P.O - Info</title>
</head>
<body class="body_menu">
    <div class="pasek">
        <div class="lewo">
            <img src=~/Obrazy/info.png style="cursor: default;" />
            <a style="font-size: 20px;">Poznaj rodzaje testów oraz zasady w nich panujące</a>
        </div>
        <div class="prawo">
            <img src=~/Obrazy/logo.png onclick="menu()" />
            <img src=~/Obrazy/stat.png onclick="statystyki()" />
            <img src=~/Obrazy/opcje.png onclick="ustawienia()" />
            <img src=~/Obrazy/logout.png onclick="wyloguj()" />
        </div>
    </div>

    <div class="kontyner_test">
        <table class="tabela_info">
            <tr style="height: 50px;">
                <td class="opis_kategoria">
                    Ikona testu
                </td>
                <td class="opis_kategoria">
                    Opis testu
                </td>
                <td class="opis_kategoria">
                    Opis trudności
                </td>
            </tr>
            <tr>
                <td class="komorka_obraz">
                    <img src="~/Obrazy/TestOstrosc.png">
                </td>
                <td class="opis_testu">
                    Test składa się z 5 kolejnych pytań, w każdym wymagane jest zaznaczenie poprawnej odpowiedzi. Wszystkie pytania oraz odpowiedzi generowane są losowo. Pomiar czasu jest uruchamiany w momencie pojawienia się przycisku.
                </td>
                <td class="opis_testu">
                    Wraz ze wzrostem poziomu trudności pomniejszeniu ulegają elementy z których zczytywane są odpowiedzi np. wielkość figury czy rozmiar czcionki napisów. 
                </td>
            </tr>
            <tr>
                <td class="komorka_obraz">
                    <img src="~/Obrazy/testkolory.png">
                </td>
                <td class="opis_kategoria" colspan="2">
                    Testy opierające się na kolorach
                </td>
            </tr>
            <tr>
                <td class="komorka_obraz">
                    <img src="~/Obrazy/TestIshary.png">
                </td>
                <td class="opis_testu">
                    Test składa się z 5 wyświetlanych tablic Ishary. Po pokazaniu się obrazu wymagane jest wpisanie w pole wartości liczbowej odpowiadającej liczbie na tablicy. Czas jest mierzony pomiędzy wyświetleniem tablicy, a wpisaniem wyniku.
                </td>
                <td class="opis_testu">
                    Wraz ze wzrostem poziomu trudności zmieniają się natężenia tablic oraz liczba cyfr. Przy łatwym poziomie kontrast kolorystyczny cyfry na tablicy będzie wysoki. Wraz ze wzrostem poziomu kontrast będzie się pomniejszał oraz będzie się zwiększać ilość cyfr. 
                </td>
            </tr>
            <tr>
                <td class="komorka_obraz">
                    <img src="~/Obrazy/TestBarwy.png">
                </td>
                <td class="opis_testu">
                    Test składa się z 5 kolejno losowo generowanych tablic z barwami gdzie jedna z nich różni się od innych swoim natężeniem. Wymagane jest zaznaczenie która z barw odstaje od reszty. Czas jest mierzony pomiędzy wyświetleniem barw, a wyborem odpowiedniej barwy.
                </td>
                <td class="opis_testu">
                    Wraz ze wzrostem poziomu trudności będzie pomniejszać się różnica pomiędzy szukanym kolorem, a pozostałymi. Jego intensywność będzie ulegać zmniejszeniu przez co będzie trudniejszy do rozróżnienia. 
                </td>
            </tr>
            <tr>
                <td class="komorka_obraz">
                    <img src="~/Obrazy/testruch.png">
                </td>
                <td class="opis_kategoria" colspan="2">
                    Testy opierające się na ruchu oczu
                </td>
            </tr>
            <tr>
                <td class="komorka_obraz">
                    <img src="~/Obrazy/TestReakcja.png">
                </td>
                <td class="opis_testu">
                    Po uruchomieniu testu i przeczytaniu informacji wstępnych wyświetlane będzie 5 kolejnych punktów w losowym miejscu na ekranie. Wymagane jest jak najszybsze kliknięcie w dany obiekt. Czas jest mierzony pomiędzy wyświetleniem punktu, a kliknięciem w niego.
                </td>
                <td class="opis_testu">
                    Wraz ze wzrostem poziomu trudności wielkość punktów będzie ulegać pomniejszeniu. Sama wygląd obiektów jest pokazany w teście przez kliknięciem przycisku Start, gdzie można zobaczyć jak wygląda mechanizm klikania w kropki. 
                </td>
            </tr>
            <tr>
                <td class="komorka_obraz">
                    <img src="~/Obrazy/TestSzukanie.png">
                </td>
                <td class="opis_testu">
                    Test polega na znalezieniu na planszy wskazanego obiektu. Wskazana figura występuje na planszy tylko raz z tą samą rotacją. Po znalezieniu obiektu należy na niego kliknąć w celu zakończenia testu co zakończy również odmierzanie czasu.
                </td>
                <td class="opis_testu">
                    Wraz ze wzrostem poziomu trudności będzie się zwiększać zapełnienie planszy. Przy łatwym poziomie zapełnienie planszy oscyluje na poziomie 50%, za to przy trudnym - koło 90%.
                </td>
            </tr>
        </table>
    </div>
</body>
</html>

<script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript" src="~/Scripts/funkcje.js"></script>
