@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Site.css">
    <title>I.P.O - Menu</title>
</head>
<body class="body_menu">
    <div class="pasek">
        <div class="lewo">
            <img src=~/Obrazy/logo.png style="cursor: default;" />
            <a style="font-size: 20px;">Witaj "Nazwa Użytkownika"!</a>
        </div>
        <div class="prawo">
            <img src=~/Obrazy/info.png onclick="info()" />
            <img src=~/Obrazy/stat.png onclick="statystyki()" />
            <img src=~/Obrazy/opcje.png onclick="ustawienia()" />
            <img src=~/Obrazy/logout.png onclick="wyloguj()" />
        </div>
    </div>

    <div class="kontener-ikony">
        <div class="ikona">
            <a id="textkolor">Testy kolorystyczne</a>
            <img src="~/Obrazy/testkolory.png" onclick="pokaztesty('kolory')">
        </div>
        <div class="ikona">
            <a id="textruch">Testy ruchowo-wzrokowe</a>
            <img src="~/Obrazy/testruch.png" onclick="pokaztesty('ruchy')">
        </div>
        <div class="ikona">
            <a>Test ostrości wzroku</a>
            <img src="~/Obrazy/TestOstrosc.png" onclick="starttest('TestOstrosc')">
        </div>
    </div>

    <div id="testynowe" class="kontener-ikony" style="animation: none;">

    </div>

    <div class="info_poziom" style="top: 110px;">Poziom: Łatwy</div>

</body>
</html>

<script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript" src="~/Scripts/funkcje.js"></script>

<script>
    let aktualneikony = "";

    function pokaztesty(zmienna) {
        if (zmienna === aktualneikony) {
            return;
        }

        document.getElementById('testynowe').style.animation = 'zmniejszenie 1.01s ease-out';

        setTimeout(() => {
            if (zmienna === 'kolory') {
                document.getElementById('textruch').style.textDecoration = 'none';
                document.getElementById('testynowe').innerHTML = koloryHTML();
                document.getElementById('textkolor').style.textDecoration = 'underline';
                aktualneikony = zmienna;
            }
            else if (zmienna === 'ruchy') {
                document.getElementById('textkolor').style.textDecoration = 'none';
                document.getElementById('testynowe').innerHTML = ruchyHTML();
                document.getElementById('textruch').style.textDecoration = 'underline';
                aktualneikony = zmienna;
            }

            document.getElementById('testynowe').style.animation = 'powiekszenie 2s ease-out';
        }, 1000);
    }

    function koloryHTML() {
        let str = '';
        str += '<div class="ikona2"><a>Tablice Ishary</a><img src="/Obrazy/TestIshary.png" onclick="starttest(\'TestIshary\')"></div>';
        str += '<div class="ikona2"><a>Rozróżnianie barw</a><img src="/Obrazy/TestBarwy.png" onclick="starttest(\'TestBarwy\')"></div>';
        return str;
    }

    function ruchyHTML() {
        let str = '';
        //str += '<div class="ikona2"><a>Śledzenie obiektu</a><img src="/Obrazy/TestSledzenie.png" onclick="starttest(\'TestSledzenie\')"></div>';
        str += '<div class="ikona2"><a>Czas reakcji</a><img src="/Obrazy/TestReakcja.png" onclick="starttest(\'TestReakcja\')"></div>';
        str += '<div class="ikona2"><a>Wyszukiwanie obiektu</a><img src="/Obrazy/TestSzukanie.png" onclick="starttest(\'TestSzukanie\')"></div>';
        return str;
    }
</script>