@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Site.css">
    <title>I.P.O - Menu</title>
</head>
<body class="body_menu">
    <div class="pasek">
        <div class="lewo">
            <img src=~/Obrazy/logo.png style="cursor: pointer; " onclick="wyloguj()" title="Strona główna"/>
            @*<a style="font-size: 20px;">Witaj "Nazwa Użytkownika"!</a>*@
            <a style="font-size: 20px;">I.P.O. - Internetowa Pielęgnacja Oczu</a>
        </div>
        <div class="prawo">
            <img src=~/Obrazy/info.png onclick="info()" title="Opisy ćwiczeń"/>
            @*<img src=~/Obrazy/stat.png onclick="statystyki()" />
            <img src=~/Obrazy/opcje.png onclick="ustawienia()" />
            <img src=~/Obrazy/logout.png onclick="wyloguj()" />*@
        </div>
    </div>

    <div class="kontener-ikony">
        <div class="ikona" onclick="pokaztesty('kolory')" title="Rozwiń listę">
            <a id="textkolor">Ćwiczenia kolorystyczne</a>
            <img src="~/Obrazy/testkolory.png">
        </div>
        <div class="ikona" onclick="pokaztesty('ruchy')" title="Rozwiń listę">
            <a id="textruch">Ćwiczenia ruchowo-wzrokowe</a>
            <img src="~/Obrazy/testruch.png">
        </div>
        <div class="ikona" onclick="starttest('TestOstrosc')" title="Uruchom ćwiczenie">
            <a>Ćwiczenie ostrości wzroku</a>
            <img src="~/Obrazy/TestOstrosc.png">
        </div>
    </div>

    <div id="testynowe" class="kontener-ikony" style="animation: none;">

    </div>

    @*rozwiązanie pod bazę danych
        <div class="info_poziom" style="top: 110px;">Poziom: Łatwy</div>*@

    <div class="info_poziom" style="top: 110px; color: #87CEFA;" id="lista">

    </div>

</body>
</html>

<script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript" src="~/Scripts/funkcje.js"></script>

<script>
    let aktualneikony = "";
    let lista = document.getElementById("lista");
    let cooldown = 100;

    poziom();

    //ustawianie poziomu bez bazy
    function poziom() {
        let poziom = sessionStorage.getItem("poziom");
        lista.innerHTML = poziomHTML(poziom);
    }

    function poziomHTML(poziom) {
        let str = '';
        if (poziom === "Łatwy") {
            str = 'Wybierz poziom: <label><input type="radio" name="poziom" value="Łatwy" checked onchange="zmianaPoziomu(\'Łatwy\')"> Łatwy </label><label><input type="radio" name="poziom" value="Średni" onchange="zmianaPoziomu(\'Średni\')"> Średni </label><label><input type="radio" name="poziom" value="Trudny" onchange="zmianaPoziomu(\'Trudny\')"> Trudny </label>';
        }
        else if (poziom === "Średni") {
            str = 'Wybierz poziom: <label><input type="radio" name="poziom" value="Łatwy" onchange="zmianaPoziomu(\'Łatwy\')"> Łatwy </label><label><input type="radio" name="poziom" value="Średni" checked onchange="zmianaPoziomu(\'Średni\')"> Średni </label><label><input type="radio" name="poziom" value="Trudny" onchange="zmianaPoziomu(\'Trudny\')"> Trudny </label>';
        }
        else if (poziom === "Trudny"){
            str = 'Wybierz poziom: <label><input type="radio" name="poziom" value="Łatwy" onchange="zmianaPoziomu(\'Łatwy\')"> Łatwy </label><label><input type="radio" name="poziom" value="Średni" onchange="zmianaPoziomu(\'Średni\')"> Średni </label><label><input type="radio" name="poziom" value="Trudny" checked onchange="zmianaPoziomu(\'Trudny\')"> Trudny </label>';
        }
        return str;
    }

    function zmianaPoziomu(poziom) {
        sessionStorage.setItem("poziom", poziom);
    }

    function pokaztesty(zmienna) {
        if (zmienna === aktualneikony) {
            return;
        }
        aktualneikony = zmienna;

        document.getElementById('testynowe').style.animation = 'zmniejszenie 1.01s ease-out';

        setTimeout(() => {
            if (zmienna === 'kolory') {
                document.getElementById('textruch').style.textDecoration = 'none';
                document.getElementById('testynowe').innerHTML = koloryHTML();
                document.getElementById('textkolor').style.textDecoration = 'underline';
            }
            else if (zmienna === 'ruchy') {
                document.getElementById('textkolor').style.textDecoration = 'none';
                document.getElementById('testynowe').innerHTML = ruchyHTML();
                document.getElementById('textruch').style.textDecoration = 'underline';
            }

            document.getElementById('testynowe').style.animation = 'powiekszenie 1s ease-out';
        }, cooldown);
        cooldown = 1000;
    }

    function koloryHTML() {
        let str = '';
        str += '<div class="ikona2" onclick="starttest(\'TestIshary\')" title="Uruchom ćwiczenie"><a>Tablice Ishihary</a><img src="/Obrazy/TestIshary.png"></div>';
        str += '<div class="ikona2" onclick="starttest(\'TestBarwy\')" title="Uruchom ćwiczenie"><a>Rozróżnianie barw</a><img src="/Obrazy/TestBarwy.png"></div>';
        return str;
    }

    function ruchyHTML() {
        let str = '';
        //str += '<div class="ikona2"><a>Śledzenie obiektu</a><img src="/Obrazy/TestSledzenie.png" onclick="starttest(\'TestSledzenie\')"></div>';
        str += '<div class="ikona2" onclick="starttest(\'TestReakcja\')" title="Uruchom ćwiczenie"><a>Czas reakcji</a><img src="/Obrazy/TestReakcja.png"></div>';
        str += '<div class="ikona2" onclick="starttest(\'TestSzukanie\')" title="Uruchom ćwiczenie"><a>Wyszukiwanie obiektu</a><img src="/Obrazy/TestSzukanie.png"></div>';
        return str;
    }
</script>