@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Site.css">
    <title>I.P.O - Menu</title>
</head>
<body class="body_menu">
    <div class="pasek">
        <div class="lewo">
            <img src=~/Obrazy/logo.png style="cursor: default;" />
            <a style="font-size: 20px;">Witaj "Nazwa Użytkownika"!</a>
        </div>
        <div class="prawo">
            <img src=~/Obrazy/logout.png onclick="wyloguj()" />
            <img src=~/Obrazy/stat.png onclick="statystyki()" />
            <img src=~/Obrazy/opcje.png onclick="ustawienia()" />
        </div>
    </div>

</body>
</html>

<script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript" src="~/Scripts/funkcje.js"></script>