@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Site.css">
    <title>I.P.O</title>
</head>
<body class="body_glowna">
    <div class="kontyner">
        <div class="kontyner_logo">
            <a class="tekst_logo">I.P.</a>
            <img src=~/Obrazy/logo.png />
        </div>
        <div>
            <a class="tekst_nazwa" style="font-weight: bold;">Internetowa Pięlegnacja Oczu</a>
        </div>
        <div class="przyciski_glowna">
            <button id="logowanie"> Logowanie </button>
            <button id="rejestrowanie"> Rejestracja </button>
        </div>
        <div>
            <a class="tekst_nazwa" style="font-style: italic; font-size: 20px;">Dbajmy o swój wzrok by móc dostrzec piękno tego świata!</a>
        </div>
    </div>
    <div class="kontyner">
        <div id="oknoLogowania" class="oknoDanych">
            <div class="formularzDanych">
                <div style="padding-top: 10px; text-decoration: underline; cursor: pointer;" onclick="przejdz_rejestracja()">Nie masz konta? Przejdź do rejestracji</div>

                <label for="login">Login:</label>
                <input type="text" id="login" name="login" placeholder="Wprowadź login">

                <label for="haslo_log">Hasło:</label>
                <input type="password" id="haslo_log" name="haslo_log" placeholder="Wprowadź hasło">

                <div id="komunikat_logowanie" style="padding-top: 10px;"></div>

                <div class="przyciskiFormularza">
                    <button id="zaloguj">Zaloguj</button>
                    <button id="anuluj_z">Anuluj</button>
                </div>
            </div>
        </div>
        <div id="oknoRejestrowania" class="oknoDanych">
            <div class="formularzDanych">
                <div style="padding-top: 10px; text-decoration: underline; cursor: pointer;" onclick="przejdz_logowanie()">Masz już konto? Przejdź do logowania</div>

                <label for="e_mail">*E-mail:</label>
                <input type="text" id="e_mail" name="e_mail" placeholder="Wprowadź e-mail">

                <label for="haslo_rej">*Hasło:</label>
                <input type="password" id="haslo_rej" name="haslo_rej" placeholder="Wprowadź hasło">

                <label for="pothaslo">*Potwierdź hasło:</label>
                <input type="password" id="pothaslo" name="pothaslo" placeholder="Wprowadź ponownie hasło">

                <div id="komunikat_hasla" style="padding-top: 10px;"></div>

                @*<label for="pseudonim">Pseudonim:</label>
                <input type="text" id="pseudonim" name="pseudonim" placeholder="Wprowadź pseudonim">

                <label for="imie">Imię:</label>
                <input type="text" id="imie" name="imie" placeholder="Wprowadź imię">

                <label for="nazwisko">Nazwisko:</label>
                <input type="text" id="nazwisko" name="nazwisko" placeholder="Wprowadź nazwisko">

                <label for="data_urodzenia">Podaj datę urodzenia:</label>
                <input type="date" id="data_urodzenia" name="data_urodzenia" placeholder="Wprowadź datę urodzenia">

                <div id="komunikat_rejestrowanie" style="padding-top: 10px;">*pola obowiązkowe</div>*@

                <div class="przyciskiFormularza">
                    <button id="zarejestruj">Zarejestruj</button>
                    <button id="anuluj_r">Anuluj</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript" src="~/Scripts/funkcje.js"></script>

<script>
    //Logowanie
    document.getElementById('logowanie').addEventListener('click', function () {
        document.getElementById('oknoLogowania').style.display = 'flex';
    });

    function przejdz_rejestracja() {
        document.getElementById('anuluj_z').click();
        document.getElementById('oknoRejestrowania').style.display = 'flex';
    }

    const loginInput = document.getElementById("login");
    const hasloInput = document.getElementById("haslo_log");
    const komunikatL = document.getElementById("komunikat_logowanie");

    document.getElementById('zaloguj').addEventListener('click', function () {
        //GET z bazy czy istnieje taki mail

        //rozwiązanie tymczasowe bez bazy danych (ma na celu stworzenie komunikatów błędów, funkcjonalność logowania prawdopodobnie będzie działać na innej zasadzie)
        //-----
        //let testowylogin = "testowymail@gmail.com";
        //let testowylogin2 = "123";

        //if (loginInput.value === testowylogin || loginInput.value === testowylogin2) {
        //    komunikatL.style.color = "green";
        //    komunikatL.textContent = "Zalogowano pomyślnie!";

        //    setTimeout(zaloguj, 1000);
        //}
        //else {
        //    komunikatL.style.color = "red";
        //    komunikatL.textContent = "Błąd logowania! Sprawdź dane.";
        //}
        //póki co dwie opcje ewentualna rozbudowa (np. brak "małpy" w loginie, nieistniejący login, błędne hasło)
        //-----

        //logowanie bez bazy
        komunikatL.style.color = "green";
        komunikatL.textContent = "Zalogowano pomyślnie!";
        sessionStorage.setItem("poziom", "Łatwy");
        setTimeout(zaloguj, 1000);
    });

    document.getElementById('anuluj_z').addEventListener('click', function () {
        document.getElementById('oknoLogowania').style.display = 'none';
        loginInput.value = "";
        hasloInput.value = "";
        komunikatL.textContent = "";
    });

    //Rejestrowanie
    document.getElementById('rejestrowanie').addEventListener('click', function () {
        document.getElementById('oknoRejestrowania').style.display = 'flex';
    });

    function przejdz_logowanie() {
        document.getElementById('anuluj_r').click();
        document.getElementById('oknoLogowania').style.display = 'flex';
    }

    const mailInput = document.getElementById("e_mail");
    const hasloRejInput = document.getElementById("haslo_rej");
    const pothasRejInput = document.getElementById("pothaslo");

    //Niewykorzystane zmienne formularza
    //const pseudoInput = document.getElementById("pseudonim");
    //const imieInput = document.getElementById("imie");
    //const nazwiskoInput = document.getElementById("nazwisko");
    //const dataInput = document.getElementById("data_urodzenia");

    const komunikatH = document.getElementById("komunikat_hasla");
    const komunikatR = document.getElementById("komunikat_rejestrowanie");

    //Sprawdzanie potwierdzenia hasła
    hasloRejInput.addEventListener("input", sprawdzHasla);
    pothasRejInput.addEventListener("input", sprawdzHasla);

    function sprawdzHasla() {

        let haslo = hasloRejInput.value;
        let pothaslo = pothasRejInput.value;

        if (haslo !== pothaslo) {
            komunikatH.style.color = "red";
            komunikatH.textContent = "Hasła są różne";
        }
        else {
            komunikatH.style.color = "green";
            komunikatH.textContent = "Hasła są poprawne";
        }
    }

    document.getElementById('zarejestruj').addEventListener('click', function () {
        let email = mailInput.value;
        let haslo = hasloRejInput.value;
        let pothaslo = pothasRejInput.value;
        //let data = new Date(dataInput.value);
        //let dzisiaj = new Date();

        if (email === "" || haslo === "" || pothaslo === "") {
            komunikatR.style.color = "red";
            komunikatR.textContent = "Wypełnij puste pola!";
            return;
        }

        if (!email.includes("@@")) {
            komunikatR.style.color = "red";
            komunikatR.textContent = "Błędny adres e-mail!";
            return;
        }

        if (haslo !== pothaslo) {
            komunikatR.style.color = "red";
            komunikatR.textContent = "Hasła są różne!";
            return;
        }

        //Sprawdzanie daty urodziny
        //if (data >= dzisiaj) {
        //    komunikatR.style.color = "red";
        //    komunikatR.textContent = "Błędna data urodzenia!";
        //    return;
        //}

        komunikatR.style.color = "green";
        komunikatR.textContent = "Pomyślnie zarejestrowano!";

        setTimeout(przejdz_logowanie, 1000);
    });

    document.getElementById('anuluj_r').addEventListener('click', function () {
        document.getElementById('oknoRejestrowania').style.display = 'none';
        mailInput.value = "";
        hasloRejInput.value = "";
        pothasRejInput.value = "";

        //pseudoInput.value = "";
        //imieInput.value = "";
        //nazwiskoInput.value = "";
        //dataInput.value = "";

        komunikatH.textContent = "";
        komunikatR.style.color = "#87CEFA";
        komunikatR.textContent = "*pola obowiązkowe";
    });
</script>