@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Site.css">
    <title>I.P.O</title>
</head>
<body class="body_glowna">
    <div class="kontyner">
        <div class="kontyner_logo">
            <a class="tekst_logo">I.P.</a>
            <img src=~/Obrazy/logo.png />
        </div>
        <div>
            <a class="tekst_nazwa" style="font-weight: bold;">Internetowa Pięlegnacja Oczu</a>
        </div>
        <div class="przyciski_glowna">
            <button> Logowanie </button>
            <button> Rejestracja </button>
        </div>
        <div>
            <a class="tekst_nazwa" style="font-style: italic; font-size: 20px;">Dbajmy o swój wzrok by móc dostrzec piękno tego świata!</a>
        </div>
    </div>
    <div class="kontyner">

    </div>
</body>
</html>