@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Site.css">
    <title>I.P.O - Test ostrości wzroku</title>
</head>
<body class="body_test">
    <div class="kontyner_test">
        <div class="kontener-ostrosc" id="kontener">
            <div class="tekst_test" id="numer_pytania"></div>
            <a style="font-size: 24px;" id="tresc_pytania"></a>
            <div class="div_odp" id="odpowiedz">

            </div>
            <div class="przyciski_odp" id="przyciski">

            </div>
            <div>
                <button class="przycisk_wyniki" onclick="resetAnimacji()" id="przycisk_koniec" disabled>Następne pytanie</button>
            </div>
        </div>
    </div>

    <div class="info_poziom" id="info"></div>
    <div class="powrot" onclick="menu()">Powrót do menu</div>
</body>
</html>

<script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript" src="~/Scripts/funkcje.js"></script>
<script type="text/javascript" src="~/Scripts/refresh.js"></script>

<script>
    let numer_pytania = document.getElementById('numer_pytania');
    let tresc_pytania = document.getElementById('tresc_pytania');
    let odpowiedz = document.getElementById('odpowiedz');
    let przyciski_odp = document.getElementById('przyciski');
    let kontener = document.getElementById("kontener");
    let przycisk_kon = document.getElementById("przycisk_koniec");

    let rozmiar = "";

    //Poziom trudności sterowany lokalnie
    start_Ostrosc();

    function start_Ostrosc() {
        let trudnosc = pobierz_poziom();

        if (trudnosc === "Łatwy") {
            rozmiar = "50px";
        }
        else if (trudnosc === "Średni") {
            rozmiar = "35px";
            odpowiedz.style.fontSize = "15px";
        }
        else {
            rozmiar = "20px";
            odpowiedz.style.fontSize = "12px";
        }
        document.getElementById("info").innerHTML = poziomHTML();
    };

    let min = 3;
    let max = 8;
    let czas = 0;
    let punkty = 0;
    let start = 0;

    Pytanie(1);

    let iterator = 1;

    //Pytania
    function Pytanie(nr) {
        numer_pytania.innerHTML = '';
        tresc_pytania.innerHTML = '';
        odpowiedz.innerHTML = '';
        przyciski_odp.innerHTML = '';
        switch (nr) {
            case 1:
                //Generowanie obiektu
                let liczba = Math.floor(Math.random() * (max - min + 1)) + min;
                let randomowyobiekt = 'obiekt' + liczba;

                numer_pytania.innerHTML = 'Pytanie pierwsze';
                tresc_pytania.innerHTML = 'Ile krawędzi ma poniższy obiekt?';
                odpowiedz.innerHTML = '<div id="obiekt" style="background-color: #87CEFA; max-width: ' + rozmiar + '; min-height: ' + rozmiar + ';"></div>';
                document.getElementById('obiekt').classList.add(randomowyobiekt);

                //Generowanie odpowiedzi
                przyciski_odp.innerHTML = Generuj(1, liczba);
                break;

            case 2:
                //Generowanie losowego ciągu liter
                const litery = 'abcdefghijklmnopqrstuvwxyz';
                let losowyCiągLiter = '';

                for (let i = 0; i < 5; i++) {
                    const losowyIndex = Math.floor(Math.random() * litery.length);
                    const losowaLitera = litery.charAt(losowyIndex);
                    losowyCiągLiter += losowaLitera;
                }
                numer_pytania.innerHTML = 'Pytanie drugie';
                tresc_pytania.innerHTML = 'Jaki jest poniższy ciąg liter?';

                odpowiedz.innerHTML = losowyCiągLiter;

                //Generowanie odpowiedzi
                przyciski_odp.innerHTML = Generuj(2, losowyCiągLiter);
                break;

            case 3:
                //Generowanie losowego ciągu cyfr
                const liczby = '0123456789';
                let losowyCiągCyfr = '';

                for (let i = 0; i < 5; i++) {
                    const losowyIndex = Math.floor(Math.random() * liczby.length);
                    const losowaCyfra = liczby.charAt(losowyIndex);
                    losowyCiągCyfr += losowaCyfra;
                }
                numer_pytania.innerHTML = 'Pytanie trzecie';
                tresc_pytania.innerHTML = 'Jaki jest poniższy ciąg liczb?';

                odpowiedz.innerHTML = losowyCiągCyfr;

                //Generowanie odpowiedzi
                przyciski_odp.innerHTML = Generuj(3, losowyCiągCyfr);
                break;

            case 4:
                //Generowanie losowego ciągu znaków
                const znaki = '?!#$%^&*()-=+<>\/[]{}';

                const losowyIndex = Math.floor(Math.random() * znaki.length);
                const losowyZnak = znaki.charAt(losowyIndex);

                numer_pytania.innerHTML = 'Pytanie czwarte';
                tresc_pytania.innerHTML = 'Jaki znak znajduje się poniżej?';

                odpowiedz.innerHTML = losowyZnak;

                //Generowanie odpowiedzi
                przyciski_odp.innerHTML = Generuj(4, losowyZnak);
                break;

            case 5:
                //Generowanie kropek
                let kropka = '. ';
                let liczba_kropek = Math.floor(Math.random() * (max - min + 1)) + min;

                let ciag_kropek = '';

                for (let i = 0; i < liczba_kropek; i++) {
                    ciag_kropek += kropka;
                }
                ciag_kropek = ciag_kropek.slice(0, -1);

                numer_pytania.innerHTML = 'Pytanie piąte';
                tresc_pytania.innerHTML = 'Ile kropek jest poniżej?';

                odpowiedz.innerHTML = ciag_kropek;

                przycisk_kon.innerHTML = '';
                przycisk_kon.innerHTML = 'Sprawdź wynik!';

                //Generowanie odpowiedzi
                przyciski_odp.innerHTML = Generuj(5, liczba_kropek);
                break;
        }
    }

    function Generuj(nr,odp) {
        switch (nr) {
            case 1:
                let zakres = [3, 4, 5, 6, 7, 8].filter(cyfra => cyfra !== odp);
                let tablica_liczb = [odp];

                while (tablica_liczb.length < 4) {
                    const losowyIndex = Math.floor(Math.random() * zakres.length);
                    const losowaCyfra = zakres.splice(losowyIndex, 1)[0];
                    tablica_liczb.push(losowaCyfra);
                }

                return WynikiHTML(tablica_liczb, odp);

            case 2:
                const litery = 'abcdefghijklmnopqrstuvwxyz';
                let tablica_ciagow_liter = [odp];

                while (tablica_ciagow_liter.length < 4) {
                    let losowyCiągLiter = '';
                    for (let i = 0; i < 5; i++) {
                        const losowyIndex = Math.floor(Math.random() * litery.length);
                        const losowaLitera = litery.charAt(losowyIndex);
                        losowyCiągLiter += losowaLitera;
                    }
                    tablica_ciagow_liter.push(losowyCiągLiter);
                }

                return WynikiHTML(tablica_ciagow_liter, odp);

            case 3:
                const liczby = '0123456789';
                let tablica_ciagow_cyfr = [odp];

                while (tablica_ciagow_cyfr.length < 4) {
                    let losowyCiągCyfr = '';
                    for (let i = 0; i < 5; i++) {
                        const losowyIndex = Math.floor(Math.random() * liczby.length);
                        const losowaCyfra = liczby.charAt(losowyIndex);
                        losowyCiągCyfr += losowaCyfra;
                    }
                    tablica_ciagow_cyfr.push(losowyCiągCyfr);
                }

                return WynikiHTML(tablica_ciagow_cyfr, odp);

            case 4:
                const znaki = '?!#$%^&*()-=+<>\/[]{}';
                let tablica_znakow = [odp];

                while (tablica_znakow.length < 4) {
                    let losowyZnak = '';

                    const losowyIndex = Math.floor(Math.random() * znaki.length);
                    losowyZnak = znaki.charAt(losowyIndex);

                    if (!tablica_znakow.includes(losowyZnak)) {
                        tablica_znakow.push(losowyZnak);
                    }
                }

                return WynikiHTML(tablica_znakow, odp);

            case 5:
                let liczby_kropek = [3, 4, 5, 6, 7, 8].filter(kropka => kropka !== odp);
                let tablica_kropek = [odp];

                while (tablica_kropek.length < 4) {
                    const losowyIndex = Math.floor(Math.random() * liczby_kropek.length);
                    const losowaKropka = liczby_kropek.splice(losowyIndex, 1)[0];
                    tablica_kropek.push(losowaKropka);
                }

                return WynikiHTML(tablica_kropek, odp);
        }

        function WynikiHTML(tablica, odp) {
            //Przetasowanie tablicy z odpowiedziami
            for (let i = tablica.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [tablica[i], tablica[j]] = [tablica[j], tablica[i]];
            }

            //Wpisanie odpowiedzi do przycisków
            let str = "";

            for (let i = 0; i < tablica.length; i++) {
                if (tablica[i] === odp) {
                    str += '<button id="1" disabled>' + tablica[i] + '</button>';
                }
                else {
                    str += '<button id="0" disabled>' + tablica[i] + '</button>';
                }
            }
            return str;
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        const przyciski = document.getElementById('przyciski');

        let kontener = document.getElementById("kontener");

        setTimeout(function () {
            kontener.style.opacity = "1";
            setTimeout(function () {
                przyciski.querySelectorAll('button').forEach(function (przycisk) {
                    przycisk.disabled = false;
                    przycisk_kon.disabled = false;
                    start = new Date();
                });
            }, 1000);
        }, 100);

        przyciski.addEventListener('click', function (event) {
            if (event.target.tagName === 'BUTTON') {
                przyciski.querySelectorAll('button').forEach(function (przycisk) {
                    przycisk.classList.remove('aktywny');
                });
                event.target.classList.toggle('aktywny');
            }
        });
    });

    function resetAnimacji() {
        Zlicz_Wynik();
        kontener.style.opacity = "0";
        setTimeout(function () {
            iterator += 1;
            Pytanie(iterator);
            setTimeout(function () {
                kontener.style.opacity = "1";
                setTimeout(function () {
                    przyciski.querySelectorAll('button').forEach(function (przycisk) {
                        przycisk.disabled = false;
                        przycisk_kon.disabled = false;
                        start = new Date();
                    });
                }, 500);
            }, 100);
        }, 1000);
    }

    function Zlicz_Wynik() {
        koniec = new Date();
        przycisk_kon.disabled = true;

        const poprawneOdpowiedzi = document.querySelectorAll('button[id="1"].aktywny').length;

        punkty += poprawneOdpowiedzi;

        czas += (koniec - start) / 1000;

        if (iterator === 5) {
            sessionStorage.setItem("pkt", punkty);
            sessionStorage.setItem("czas", czas);
            wynik();
        }
    }
</script>