@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Site.css">
    <title>I.P.O - Test rozróżniania barw</title>
</head>
<body class="body_menu">

    TEST ROŻRÓŻNIANIE BARW

</body>
</html>

<script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript" src="~/Scripts/funkcje.js"></script>