@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Site.css">
    <title>I.P.O - Test rozróżniania barw</title>
</head>
<body class="body_test">
    <div class="kontyner_test">
        <div class="tekst_test">Wybierz kolor różniący się od reszty </div>
        <table id="tabela" class="tabela_barwy">
            <tr id="kolumny">
            </tr>
        </table>
        <div>
            <button class="przycisk_wyniki" style="opacity: 0;" onclick="nadpisz()" disabled>Dalej</button>
        </div>
    </div>

    <div class="info_poziom" id="info"></div>
    <div class="powrot" onclick="menu()">Powrót do menu</div>
</body>
</html>

<script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript" src="~/Scripts/funkcje.js"></script>
<script type="text/javascript" src="~/Scripts/refresh.js"></script>

<script>
    let poziom = 0;

    //Poziom trudności sterowany lokalnie
    start_Barwy();

    function start_Barwy() {
        let trudnosc = pobierz_poziom();

        if (trudnosc === "Łatwy") {
            poziom = 50;
        }
        else if (trudnosc === "Średni") {
            poziom = 35;
        }
        else {
            poziom = 20;
        }
        document.getElementById("info").innerHTML = poziomHTML();
    };

    const przycisk = document.querySelector(".przycisk_wyniki");
    const liczbakolumn = 20;
    let pop_id;
    let punkty = 0;
    let iteracja = 0;

    document.getElementById('kolumny').innerHTML = wygenerujKolumny();

    function nadpisz() {
        if (iteracja === 5) {
            sessionStorage.setItem("pkt", punkty);
            sessionStorage.setItem("czas", czas_lacznie);
            wynik();
        }
        else {
            tabela.style.marginTop = '5px';
            tabela.style.marginBottom = '5px';
            przycisk.style.transform = "scale(0.8)";
            przycisk.style.opacity = 0;
            przycisk.disabled = true;
            document.getElementById('kolumny').innerHTML = '';
            document.getElementById('kolumny').innerHTML = wygenerujKolumny();
            kolumny = document.querySelectorAll(".tabela_barwy td");
            animacjaKolumn();
            if (iteracja === 4) {
                setTimeout(() => {
                    przycisk.textContent = "Pokaż wynik";
                }, 500);
            }
        }
    }

    function wygenerujKolumny() {
        const min = 0;
        const max = 255;

        let r = Math.floor(Math.random() * (max - min + 1)) + min;
        let g = Math.floor(Math.random() * (max - min + 1)) + min;
        let b = Math.floor(Math.random() * (max - min + 1)) + min;

        let str = '';
        let nowy_kolor_r = r;
        let nowy_kolor_g = g;
        let nowy_kolor_b = b;

        pop_id = Math.floor(Math.random() * liczbakolumn);

        //Ustalenie najsilniejszej barwy i dostosowanie zmiany koloru
        if (r >= g && r >= b) {
            if (r + poziom > max) {
                nowy_kolor_r = r - poziom;
            }
            else {
                nowy_kolor_r = r + poziom;
            }
        }
        else if (g >= r && g >= b) {
            if (g + poziom > max) {
                nowy_kolor_g = g - poziom;
            }
            else {
                nowy_kolor_g = g + poziom;
            }
        }
        else if (b >= r && b >= g) {
            if (b + poziom > max) {
                nowy_kolor_b = b - poziom;
            }
            else {
                nowy_kolor_b = b + poziom;
            }
        }

        for (let i = 0; i < liczbakolumn; i++) {
            //Zmiana koloru dla wcześniej wylosowanej kolumny
            if (i === pop_id) {
                str += '<td id="' + i + '" style="background-color: rgb(' + nowy_kolor_r + ',' + nowy_kolor_g + ',' + nowy_kolor_b + ');"></td>';
            }
            else {
                str += '<td id="' + i + '" style="background-color: rgb(' + r + ',' + g + ',' + b + ');"></td>';
            }
        }
        return str;
    }

    let stop = true;
    let start;
    let koniec;
    let czas_lacznie = 0;

    let kolumny = document.querySelectorAll(".tabela_barwy td");
    let tabela = document.getElementById("tabela");

    function animacjaKolumn() {
        let delay = 250;
        kolumny.forEach((kol) => {
            setTimeout(() => {
                kol.style.opacity = 1;
                kol.style.transform = "translateY(0)";
            }, delay);
            delay += 50;
        });
        setTimeout(() => {
            stop = false;
            start = new Date();
        }, 1600);
    }

    document.addEventListener("DOMContentLoaded", function () {
        animacjaKolumn();
    });

    //System sprawdzania wyników
    document.getElementById('kolumny').addEventListener('click', function (event) {
        if (!stop) {
            const kliknietaKolumna = event.target;

            // Sprawdź, czy kliknięcie było na kolumnie (td)
            if (kliknietaKolumna.tagName === 'TD') {
                if (czyPoprawna(kliknietaKolumna)) {
                    dobrze(kliknietaKolumna);
                }
                else {
                    zle(kliknietaKolumna);
                }
                koniec = new Date();
                czas_lacznie += (koniec - start) / 1000;

                przycisk.style.opacity = 1;
                przycisk.style.transform = "scale(1)";
                przycisk.disabled = false;
            }
            stop = true;
        }
    });

    function czyPoprawna(kolumna) {
        let id = pop_id.toString();

        if (kolumna.id === id) {
            return true;
        }
        else {
            return false;
        }
    }

    function dobrze(kolumna) {
        kolumny.forEach(function (kol) {
            kol.style.border = 'none';
        });

        tabela.style.marginTop = '0px';
        tabela.style.marginBottom = '0px';

        kolumna.style.borderTop = '10px solid #39FF14';
        kolumna.style.borderBottom = '10px solid #39FF14';
        punkty += 1;
        iteracja += 1;
    }

    function zle(kolumna) {
        kolumny.forEach(function (kol) {
            kol.style.border = 'none';
        });

        tabela.style.marginTop = '0px';
        tabela.style.marginBottom = '0px';

        kolumna.style.borderTop = '10px solid #FF3131';
        kolumna.style.borderBottom = '10px solid #FF3131';

        const popkol = document.getElementById(pop_id);

        popkol.style.borderTop = '10px solid #39FF14';
        popkol.style.borderBottom = '10px solid #39FF14';
        iteracja += 1;
    }
</script>