@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Site.css">
    <title>I.C.O - Wynik testu</title>
</head>
<body class="body_menu">
    <div class="pasek">
        <div class="lewo" id="logo_gora">

        </div>
        <div class="prawo">
            <a style="font-size: 24px; cursor: pointer;" onclick="wyloguj()">I.C.O. - Interaktywne Ćwiczenie Oczu</a>
            <img src=~/Obrazy/logo.png style="cursor: pointer; " onclick="menu()" title="Menu główne" />
        </div>
    </div>

    <div class="logo_testu" id="buzka">

    </div>

    <div class="logo_testu" id="wynik">

    </div>

    <div class="logo_testu" id="czas">

    </div>

    <div class="logo_testu" style="font-size: 20px; font-style: italic;" id="info">

    </div>

    <div class="kontener-glowny" id="odnosniki">
        <div class="kontener-wyniki">
            <div id="logo_ponownie">

            </div>
            <div onclick="menu()" title="Powrót do menu">
                <a style="user-select: none; cursor: pointer; font-size: 24px;">Menu główne</a>
                <img src="~/Obrazy/logo.png"/>
            </div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript" src="~/Scripts/funkcje.js"></script>

<script>
    let pkt = sessionStorage.getItem("pkt");
    let czas = parseFloat(sessionStorage.getItem("czas"));
    let test = sessionStorage.getItem("test");
    let poziom = sessionStorage.getItem("poziom");

    let z_czas = czas.toFixed(3);

    let nazwa = '';

    switch (test) {
        case 'TestOstrosc':
            nazwa = 'Ćwiczenie ostrości wzroku';
            break;
        case 'TestBarwy':
            nazwa = 'Ćwiczenie rozróżniania intensywności barw';
            break;
        case 'TestIshary':
            nazwa = 'Ćwiczenie z tablicami Ishary';
            break;
        case 'TestReakcja':
            nazwa = 'Ćwiczenie szybkości reakcji';
            break;
        case 'TestSzukanie':
            nazwa = 'Ćwiczenie szybkości wyszukiwania obiektu';
            break;
    }

    document.getElementById('logo_gora').innerHTML = '<img src="/Obrazy/' + test + '.png" style="cursor: default;" /><a style="font-size: 24px;">' + nazwa + '</a>';

    const div_buzka = document.getElementById('buzka');
    const div_wynik = document.getElementById('wynik');
    const div_czas = document.getElementById('czas');
    const div_odnosniki = document.getElementById('odnosniki');
    const div_info = document.getElementById('info');

    setTimeout(() => {
        div_buzka.style.opacity = 1;
        div_buzka.style.transform = "translateY(0)";
    }, 0);

    setTimeout(() => {
        div_wynik.style.opacity = 1;
        div_wynik.style.transform = "translateY(0)";
    }, 500);

    setTimeout(() => {
        div_czas.style.opacity = 1;
        div_czas.style.transform = "translateY(0)";
    }, 1000);

    if (pkt === 'null') {
        switch (test) {
            case 'TestReakcja':
                if (poziom === "Łatwy") {
                    switch (true) {
                        case z_czas <= 2.2:
                            pkt = 5;
                            break;
                        case z_czas > 2.2 && z_czas <= 2.95:
                            pkt = 4;
                            break;
                        case z_czas > 2.95 && z_czas <= 3.7:
                            pkt = 3;
                            break;
                        case z_czas > 3.7 && z_czas <= 4.45:
                            pkt = 2;
                            break;
                        case z_czas > 4.45 && z_czas <= 5.2:
                            pkt = 1;
                            break;
                        case z_czas > 5.2:
                            pkt = 0;
                            break;
                    }
                }
                else if (poziom === "Średni") {
                    switch (true) {
                        case z_czas <= 2.5:
                            pkt = 5;
                            break;
                        case z_czas > 2.5 && z_czas <= 3.25:
                            pkt = 4;
                            break;
                        case z_czas > 3.25 && z_czas <= 4:
                            pkt = 3;
                            break;
                        case z_czas > 4 && z_czas <= 4.75:
                            pkt = 2;
                            break;
                        case z_czas > 4.75 && z_czas <= 5.5:
                            pkt = 1;
                            break;
                        case z_czas > 5.5:
                            pkt = 0;
                            break;
                    }
                }
                else {
                    switch (true) {
                        case z_czas <= 2.9:
                            pkt = 5;
                            break;
                        case z_czas > 2.9 && z_czas <= 3.7:
                            pkt = 4;
                            break;
                        case z_czas > 3.7 && z_czas <= 4.5:
                            pkt = 3;
                            break;
                        case z_czas > 4.5 && z_czas <= 5.3:
                            pkt = 2;
                            break;
                        case z_czas > 5.3 && z_czas <= 6.1:
                            pkt = 1;
                            break;
                        case z_czas > 6.1:
                            pkt = 0;
                            break;
                    }
                }
                break;
            case 'TestSzukanie':
                if (poziom === "Łatwy") {
                    switch (true) {
                        case z_czas <= 2.3:
                            pkt = 5;
                            break;
                        case z_czas > 2.3 && z_czas <= 3.7:
                            pkt = 4;
                            break;
                        case z_czas > 3.7 && z_czas <= 5.1:
                            pkt = 3;
                            break;
                        case z_czas > 5.1 && z_czas <= 6.5:
                            pkt = 2;
                            break;
                        case z_czas > 6.5 && z_czas <= 7.9:
                            pkt = 1;
                            break;
                        case z_czas > 7.9:
                            pkt = 0;
                            break;
                    }
                }
                else if (poziom === "Średni") {
                    switch (true) {
                        case z_czas <= 4.3:
                            pkt = 5;
                            break;
                        case z_czas > 4.3 && z_czas <= 7.5:
                            pkt = 4;
                            break;
                        case z_czas > 7.5 && z_czas <= 10.7:
                            pkt = 3;
                            break;
                        case z_czas > 10.7 && z_czas <= 13.9:
                            pkt = 2;
                            break;
                        case z_czas > 13.9 && z_czas <= 17.1:
                            pkt = 1;
                            break;
                        case z_czas > 17.1:
                            pkt = 0;
                            break;
                    }
                }
                else {
                    switch (true) {
                        case z_czas <= 22.5:
                            pkt = 5;
                            break;
                        case z_czas > 22.5 && z_czas <= 43.8:
                            pkt = 4;
                            break;
                        case z_czas > 43.8 && z_czas <= 65.1:
                            pkt = 3;
                            break;
                        case z_czas > 65.1 && z_czas <= 85.4:
                            pkt = 2;
                            break;
                        case z_czas > 85.4 && z_czas <= 106.7:
                            pkt = 1;
                            break;
                        case z_czas > 106.7:
                            pkt = 0;
                            break;
                    }
                }
                break;
        }
        setTimeout(() => {
            div_info.style.opacity = 1;
            div_info.style.transform = "translateY(0)";
        }, 1500);

        setTimeout(() => {
            div_odnosniki.style.opacity = 1;
            div_odnosniki.style.transform = "translateY(0)";
        }, 2500);

        div_info.innerHTML = '<div>Wynik ustalony na podstawie uzyskanego czasu</div>';
    }

    setTimeout(() => {
        div_odnosniki.style.opacity = 1;
        div_odnosniki.style.transform = "translateY(0)";
    }, 2000);

    div_buzka.innerHTML = '<img src="/Twarze/' + pkt + '.png" />';
    div_wynik.innerHTML = '<div>Wynik: ' + pkt + '/5</div>';
    div_czas.innerHTML = '<div>Czas: ' + z_czas + 's</div>';

    document.getElementById('logo_ponownie').innerHTML = '<div style="padding: 0;" onclick="uruchom_ponownie()" title="Uruchom ćwiczenie" ><a style="user-select: none; cursor: pointer; font-size: 24px;">Spróbuj ponownie</a><img src="/Obrazy/' + test + '.png"/></div>';
</script>